@model ApiRequestMarket.Models.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Update</title>
</head>
@* <body> *@
@*   <div class="container mt-5"> *@
@*     <div class="row justify-content-center"> *@
@*       <div class="col-md-6"> *@
@*         <h2 class="text-center mb-4">Update Person</h2> *@
@*         <form asp-controller="Home" asp-action=""> *@
@*           <input type="hidden" name="id" value="@Model.id"> *@
@*           <div class="form-group"> *@
@*             <label for="firstName">First Name</label> *@
@*             <input asp-for="firstName" type="text" class="form-control" id="firstName" placeholder="Enter first name" value="@Model.firstName"> *@
@*             <span asp-validation-for="firstName"></span> *@
@*           </div> *@
@*           <div class="form-group"> *@
@*             <label for="lastName">Last Name</label> *@
@*             <input asp-for="secondName" type="text" class="form-control" id="lastName" placeholder="Enter last name" value="@Model.secondName"> *@
@*             <span asp-validation-for="secondName"></span> *@
@*           </div> *@
@*           <div class="form-group"> *@
@*             <label for="email">Age</label> *@
@*             <input asp-for="age" type="text" class="form-control" id="age" placeholder="Enter email" value="@Model.age"> *@
@*             <span asp-validation-for="age"></span> *@
@*           </div> *@
@*            *@
@*           <button type="submit" class="btn btn-primary">Submit</button> *@
@*         </form> *@
@*       </div> *@
@*     </div> *@
@*   </div> *@
@* *@
@*   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> *@
@*   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
@* </body> *@
</html>
